@font-face {
  font-family: "Sinhala MN";
  font-weight: 400;
  src: url("src/Audrey/Audrey-Normal.otf");
}

body {
  background: #2f80ed;
}

h1 {
  font-family: "Sinhala MN";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 2px;
  color: #ffffff;
}

h1 {
  text-align: center;
}

.check-label {
  display: block;
}

.text-todo {
  left: 0;
  top: 0;
  text-align: left;
  width: 604px;
  height: 44px;
  background: #ffffff;
  outline: none;
  font-family: "Roboto";
  font-size: 15px;
  border: 0;
}

input[type="text-list"]::-webkit-input-placeholder {
  color: #2f80ed;
}

input[type="text-list"]:-ms-input-placeholder {
  color: #2f80ed;
}

input[type="text-list"]::-ms-input-placeholder {
  color: #2f80ed;
}

input[type="text-list"]::placeholder {
  color: #2f80ed;
}

.text-list {
  cursor: default;
  margin-left: 15px;
  left: 0;
  top: 0;
  width: 400px;
  outline: none;
  color: #000000;
  text-align: left;
  font-size: 15px;
  border: #e0e0e0;
  background: #ffffff;
  font-family: "Roboto";
}

input[type="text-list"] {
  background-color: white;
}

input[type="text"] {
  background-color: white;
  background-image: url("img/Subtract.svg");
  background-position: 20px 15px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 50px;
  text-indent: 23px;
}

.text-search {
  margin-top: 20px;
  left: 0;
  top: 0;
  width: 646px;
  height: 46px;
  background: #ffffff;
  outline: none;
  font-family: "Roboto";
  font-size: 15px;
  border: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  padding-left: 40px;
  background-color: white;
  background-position: 20px 15px;
  background-repeat: no-repeat;
  background-image: url("img/Search.svg");
  text-indent: 23px;
}
.adding-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
}
.adding-button > img:hover,
button-plus-image:active {
  width: 95%;
  height: 95%;
}

.adding-button > img {
  width: 100%;
  height: 100%;
}

.card {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 646px;
}

.button-plus {
  margin-left: -40px;
  margin-bottom: 7px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  background: none;
}

.button-editing {
  cursor: pointer;
  margin-top: 3px;
  float: right;
  margin-right: 16px;
  padding: 0;
  border: none;
  background: none;
}

.button-pencil-image {
  width: 20px;
  height: 20px;
}

.button-trash {
  cursor: pointer;
  float: right;
  padding: 0;
  border: none;
  background: none;
}

.button-plus-image {
  width: 30px;
  height: 30px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 27px 0 60px;
  padding-bottom: 4px;
  align-items: center;
  height: 46px;
  width: 646px;
  box-sizing: border-box;
  background: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.butts {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 172px;
}

.butts > button {
  cursor: pointer;
}

.button {
  cursor: pointer;
  margin-right: 25px;
  padding: 5px;
  float: right;
  height: 25px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #2f80ed;
  font-family: "Roboto";
  font-style: normal;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.wrapper {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  width: 646px;
  background: #ffffff;
}

.list-todo {
  padding-left: 0;
}

.list-todo li {
  text-decoration: none;
  padding: 1em;
  border-top: 1px solid #e0e0e0;
  list-style-type: none;
}

.list-todo li:not(:last-child) {
  border-top: 1px solid #e0e0e0;
  border-bottom: 0 solid #e0e0e0;
}

.todoli + label {
  color: #2f80ed;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  font-style: normal;
}

input[type="checkbox"] {
  display: none;
}

label {
  cursor: default;
  vertical-align: middle;
  padding: 10px 0;
  color: #000;
  font-weight: normal;
  line-height: 30px;
}

label:before {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 13px;
  height: 13px;
  content: "";
  color: #000;
  display: inline-block;
  font: 26px/11px Arial;
  font-weight: bolder;
  text-indent: 0;
  background: #fff;
  border: 2px solid #e3e3e3;
  border-image: initial;
  font-size: 15px;
  color: #2f80ed;
  border: 3px solid #2f80ed;
  border-radius: 4px;
}

input:checked + label:before {
  content: url(img/Vector.svg);
}

/* disabled */
input:disabled + label:before {
  background: #eee;
  color: #aaa;
}

.hidden {
  display: none;
}

.item.over {
  border: 3px dotted #666;
}

.button:hover {
  outline: none;
  border: none;
  background: #e1eeff;
  opacity: 0.6;
  border-radius: 5px;
}

.active {
  outline: none;
  border-radius: 5px;
  border: none;
  background: #e1eeff;
}

.striked {
  text-decoration: line-through;
  color: #2f80ed;
}

.button-drag-image {
  cursor: move;
  position: relative;
  vertical-align: middle;
  margin-right: 16px;
  margin-left: 4px;
}
